.authNav {
  display: flex;
  gap: 15px;
}

.navLink {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 500;
}

.navLink:hover {
  text-decoration: underline;
}

.navLink.active {
  color: #4cba50;
  font-weight: bold;
  font-size: 23px;
}

@media (max-width: 800px) {
  .authNav {
    flex-direction: column;
    gap: 5px;
  }
}