.container {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  border-radius: 6px;
  padding: 0px 30px 50px 30px;
  background-color: beige;
  max-width: 800px;
  margin: 0 auto;
}