.contact-section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 200px;
}

.contact-section:hover {
  transform: scale(1.03);
}

.section-title {
  text-align: center;
}